doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/bgr_px_mountains.jpg';

+header('NI-APH', 'Architecture of Computer Games', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')

.reveal
	.slides
		+title('Tutorial 2, Part 3', 'PixiJS positioning', 'color-azure-light')
		+frameInbox('Positioning')
			ul
				li.fragment position, rotation, scale
				li.fragment <span class="highlight">rotation</span> - rotation in radians
				li.fragment <span class="highlight">pivot</span> - origin of the object in px (rotation is always around the origin)
					ul
						li pivot is not affected by the scale
				li.fragment <span class="highlight">anchor</span> - relative origin of the object (only for Sprites)
				li.fragment <span class="highlight">the scale of the parent affects the units of its children</span>
				li.fragment <span class="highlight">stage</span> - root element of the scene graph
				li.fragment <span class="highlight code">getBounds()</span> - retrieves the bounds of the object, can be used to check where the object is
				li.fragment <span class="highlight code">toGlobal()</span> - calculates the global position
				li.fragment <span class="highlight code">toLocal()</span> - calculates the local position relative to another point
		+frameInbox('Positioning')
			div
				ul
					li positioning of a single element
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_single_1.svg')
		+frameInbox('Positioning')
			div
				ul
					li rotation is around the origin/pivot, which is by default in the top-left corner
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_single_rot_1.svg')
		+frameInbox('Positioning')
			div
				ul
					li pivot also affects the offset of the location of the object
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_single_2.svg')
		+frameInbox('Positioning')
			div
				ul
					li having the pivot in the center, we can rotate the object around its center
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_single_rot_2.svg')
		+frameInbox('Positioning')
			div
				ul
					li the scale of parent objects affects the units of their children
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_multi_1.svg')
		+frameInbox('Positioning')
			div
				ul
					li same values, yet the squares are independent
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_multi_2.svg')
		+frameInbox('Positioning')
			div
				ul
					li the green and the blue square are children of the red square
				.text-center.mt-20
					img.height-700(src=globalAssets+'pos_multi_3.svg')

+footer('Adam Vesecký (FIT CTU)', 'Architecture of Computer Games')
script(src!='../../scripts/reveal-setup.js')
